# Ignore node_modules
node_modules

# Ignore log files
*.log

# Ignore temporary files
npm-debug.log
.DS_Store

# Ignore environment files
.env

# Ignore configuration files
.vscode
.idea
docker-compose.override.yml

# Ignore database files
*.db

# Misc
ignorefiles