# Ignore node_modules
/node_modules

# Ignore logs
logs
*.log

# Ignore test files
tests
*.test.js

# Ignore temporary files
npm-debug.log
.DS_Store

# Ignore environment files
.env

# Ignore any other local IDE/editor configuration files
.vscode
.idea

# Ignore database files
*.db